@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
a:hover,a:focus,a:active{text-decoration:none;}
a{outline:none; text-decoration:none;}
ul{margin:0; padding:0;}
img{ width:100%;}
li{list-style:none;}

.helvetica-Bold{
    font-family: 'HelveticaNeue-Bold';
}
.hidden{
    display: none;
}
.bg-dark{
    background-color: #fff;
    background-size: cover;
}

.navbar-toggle .icon-bar{ background-color:#000;}

.navbar-brand{
    float:left;
    height:auto;
}
.badge-warning {
    background-color: #f89406;
}

.navbar{ margin:0;}
.img-responsive{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.right-nav{
    float: right;
    text-align: left;
    margin-top: 20px;
}
.dropdown-menu li a{padding:0px 15px !important;}

.notification-menu li {
    margin: 0;
}

.notification-menu li a {
    white-space: normal;
    font-size: 12px;
    border-top: 1px solid #e6e6e6;
    padding: 5px 10px !important;
}

.notification-menu {
    width: 315px;
}

.bold600{font-weight:600 !important;}

.notification-menu li:nth-last-child(2){color:#f00;}

ul.dropdown-menu.notification-menu {
    padding: 0;
}


.dropdown ul.notification-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 35px;
    z-index: 10;
}
.dropdown ul.notification-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 33px;
    z-index: 9;
}

.dropdown ul.profile-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 20px;
    z-index: 10;
}
.dropdown ul.profile-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 18px;
    z-index: 9;
}



.headerPosition{
    position: relative; top: -220px; height:200px;
}

.helveticaNeueLight{
    font-family: 'HelveticaNeue-Light';
}
div.gridBox {
    width: 100%;
    margin-bottom: 15px;
    float: left;
}

div.gridBox > div[class^='col-'] {
    display: table-cell;
    float: left;
    vertical-align: top;
}
.gridBox {

    float: left;
}
.paddingAdmin{
    padding:30px 40px;
}
.gridBox .padding2{
    padding:17px 30px;
}
.readMore {
    font-size: 14px;
    float: left;
    text-decoration: none;
    width: 100%;
    text-align: right;
}
.readMore:hover{
    text-decoration:none;
    color:#004282;
}
.blueBg {
    background: #f3f4f6;
    float: left;
    width: 100%;
    padding:15px;
}

.whitebg {
    float: left;
    width: 100%;
    padding:15px;
}



.report-no h3{ font-size:16px;}

.report-no {
    float: left;
    width: :100%;
    padding: 15px;
    background-color: #ddd;
}

.lightBlueBh{
    background:#e1f4fd;
}
.blueText{
    color:#004282;
}
.whiteText{
    color:#fff;
}
.title{
    font-size: 18px;
}
.paragraph{
    font-size: 14px;
    line-height:20px;
}
.noPadding{
    padding:0;
}
.margin10{
    margin-left:10px;
    margin-right:10px;
}
.marginTB{
    margin-top:10px;
    margin-bottom:10px;
}
.noMargin{
    margin: 0;
}

/*--------------------------- Login Page --------------------------------*/
.login{
    margin-top:85px;
    padding:0 30px;
}
.login  .form-group {
    position: relative;
}
.login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
    color:#004282;
}
.login .form-control {
    padding-left: 40px;
}
.login .form-control:focus {
    border-color: #00ce81;
}
.login .form-control, .login .btn {
    min-height: 40px;
    border-radius: 5px; 
    border: 1px solid #33a3dc;
}
.login .btn {
    background: #d8d8d8;
    border: 1px solid #33a3dc;
    line-height: normal;
    max-width: 140px;
    font-size: 18px;
    padding-left: 36px;
}
.login .loginIcon{
    position:absolute;
    left: 20px;
    top: 13px;
}
.login .btn:hover, .login .btn:focus {
    background: #d8d8d8;
}
.login a{
    color:#fff;
    border-bottom:1px solid #fff;
    padding-bottom:5px;
    text-decoration:none;
    max-width: 200px;
    display: block;
}
.register{
    background:#e6e6e6;  top:-100px; padding:30px 60px;
}
.combodate {
    border:1px solid #33a3dc !important;
    padding: 5px;
    border-radius: 10px;
}
.combodate select {
    width: auto;
    border: none;
    background: transparent;
}
.form-group p{
    font-size:12px;
    color:#58595b;
}

.form-control {
    border:1px solid #3a571f !important;
}
.regIcon{
    position:absolute; right:20px; top:20px
}
.regIcon a{
    font-size: 18px;
    color:#33a3dc;
    text-decoration:none;
}

/*--------------------------- rajnesh start --------------------------------*/

body {
    font-family: 'Tajawal', sans-serif;
}
.blueBg p{font-size:16px; color:#000; font-weight:500; line-height:1.5;}
.whitebg p{font-size:16px; color:#000; font-weight:500; line-height:1.5;}
.blueBg h4 {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #000;
}
.more-link {
    white-space: nowrap;
    color: #3a571f;
    font-size:16px;
}


.whitebg h4 {
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #000;
}
a.top-nav-color{color:#000;}
.login-btn a:nth-child(2){margin:0 15px;}
.login-btn a:nth-child(3){margin:0 15px 0 0;}
h3.title {
    font-size: 18px;
    background-color: #3a571f;
    padding: 5px 15px;
}
h3.title a{ color:#fff; }

.whitebg h3 {font-family: 'Tajawal', sans-serif;
             margin-top:0px;
}
.blueBg h3 {
    font-family: 'Tajawal', sans-serif;
    margin-top:0px;
}

.title a {
    color: #213979;
    font-family: 'Tajawal', sans-serif !important;
    font-weight:600;
    font-size: 25px;
}

.header-top {
    align-items: baseline !important;
    border-bottom: 2px solid #3a571f;
    position: fixed;
    z-index: 1;
    width: 100%;
}

h1.entry-header  {
    font-size: 30px;
    margin: 20px 0 10px;
    color: #213979;
    font-weight:700;
}
.post-details-para img{padding:0 0 15px;}
.post-details-para p{font-size:16px; font-weight:500; color:#212529;}
footer{margin-top:50px;}
img{ width:100%;}

.footer-copyright {padding:15px 0; color:#fff; font-family: 'HelveticaNeue-Light';} 

.page-header h1{font-size:25px;}


/*- report -*/

.help-seek {
    background-color: #E6E6E6;
    float: left;
    width: 100%;
    padding: 20px 50px;
}
.help-seek h3{font-size:18px; color:#007dc5;}

.table>thead>tr>th{border:1px solid #ddd; text-align:center;}
.table>tbody>tr>td{border:1px solid #ddd; text-align:center;}
.table{border:1px solid #ddd;}

.help-seek .form-row{ margin:0 0 15px 0; width:100%; float:left;}

.week-report {
    background-color: #fff;
    float: left;
    width: 100%;
    padding: 20px 50px;
}
.week-report h3{font-size:18px; color:#007dc5;}

.main-menu .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}
.main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.main-menu {
    background:#C7EBFB;
    border-right:1px solid #e5e5e5;
    position:relative;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin: 0;
    padding: 10px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#0c0c0c;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}



/*- succsess story -*/

textarea{ 
    width: 100%; 
    min-width:100%; 
    max-width:100%; 

}

.files input[type="file"] {
    border: 1px solid red;
    white-space: normal;
    word-wrap: break-word;
    width: 200px;
    overflow: auto;
}

.success-post {padding:15px; border:1px solid #ddd; float:left;}
.success-post .share i{font-size:25px;}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 15%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    overflow-wrap: break-word;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
                        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
                        transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}

.files:after {  pointer-events: none;
                position: absolute;
                top: 60px;
                left: 0;
                width: 50px;
                right: 0;
                height: 56px;
                content: "";
                background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
                display: block;
                margin: 0 auto;
                background-size: 100%;
                background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.start-post {
    padding: 20px 50px;
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px 0;
}

.profile-details img{padding:30px; }

.user-start-post {
    padding: 15px;
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px 0;
}
.user-start-post h3{ margin:5px 0 0 0;}

.user-start-post form .form-row{ margin:0 0 15px; float:left; width:100%;}

.user-post {
    padding: 15px;
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    margin: 10px 0;
}
.start-post form .form-row{ margin:0 0 15px; float:left; width:100%;}




/*- login page -*/


.login-ui {
    padding: 15px;
    border: 3px solid #f1f1f1;
    float: left;
    width: 100%;
    background-color:#e6e6e6;
}

.login-ui input, .login-ui select {

    margin-bottom:15px;
}

.login-button{ margin:15px 0;}

.remember {
    float: right;
    padding: 10px 0;
}

/* Center the avatar image inside this container */
.login-ui .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
.login-ui img.avatar {
    width: 40%;
    border-radius: 50%;
}

.login-footer {float:left; width:100%;}

.login-ui span.psw {
    float: left;
    margin: 10px 0;
    text-align: right;
    width: 100%;
}

/*- profile page -*/

.navbar-toggle { background-color:#fff; border:1px solid #000; margin:13px 0 0 0;}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:transparent !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {    background-color:transparent !important;}

.navbar-nav > li > a{ color:#3a571f; text-align:center;}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 12px;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
}

.navbar-toggle .icon-bar{ color:#000;}

.edit-profile { padding:15px 0; margin:0;}/*sanjeev*/
.edit-profile ul{margin:0; padding:0;float: right;}/*sanjeev*/
.edit-profile ul li{ padding:0 0 10px;}
.edit-profile ul li a{color:#58595b; }
.edit-profile ul li a:hover{color:#000; }
.contact-details {
    padding: 16px 12px;
}
.contact-details span{
    float:left;
    width:100%;
}

.company-profile {
    margin: 5px 0px;
}
.address{ float:left; margin:0 0 10px; width:100 }
.panding-post{ float:left; margin:10px 0 0 0; width:100 }
.panding-post h3{font-size:16px;}

.search-post {
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px 0 0 0;
    margin-bottom:15px;
}

.search-post input {
    float: left;
    margin: 0 0px 10px 0;
}
.search-post a{}



.profile-right .blocks {
    margin: 5px;
    float: left;
    width: 100%;

}
.my-post h4{ font-size:14px; font-weight:600;line-height: 20px;}
.my-post a{  text-align:right; padding:10px 5px; }
.my-post-footer {padding:10px 0;}
.my-post-footer p{padding:10px 0;}

.badge-danger {background-color:#f00; font-size:14px;}
.profile-right .blocks h3{ color:#007dc5;}

.wrap {
    display: flex;
    background: #e6e6e6;
    padding: 10px 10px;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(135, 135, 135, 0.1);
    margin:10px 0 10px 0;
    color: #363636;
}

.input-group-addon { width:115px;}

.file-name {
    float: left;
    font-weight: 700;
    font-size: 16px;
}
.chart{ border:1px solid #ddd; padding:15px; float:left; width:100%;}
.p-inbox h4{ font-weight:700;}
.file-size {
    float: left;
    width: 100%;
    font-size: 14px;
}
.ico-wrap {
    margin: auto;
    padding: 0 16px 0 0;
}
.wrap:hover {
    background: linear-gradient(135deg,#1b60d7 0%,#093f6d 100%);
    color: white;
}


.about-co h3 {
    font-size: 18px;
    margin:0 0 10px;
    float: left;
    width: 100%;
    color:#007dc5;
}

.company-profile-text {
    float: left;
    width: 50%;
}
.edit-icon {
    float: left;
    width: 20%;
    text-align:right;

}

.edit-icon a{ color:#58595b; }
.edit-icon a:hover{ color:#000; }

.navbar-collapse {
    float: right;
    margin: 15px 0 0 0;
    text-align: right;
}

.navbar-collapse form{  margin: 20px 0 10px 0;}

.media .panel-footer{ float:left; width:100%; text-align:right; margin-bottom:15px;}

/* user profile */

.user-post-details h4{ float:left; width:100%;}

.panel-google-plus-comment {padding:15px 0px ;}

.panel-google-plus-textarea textarea{padding:5px 10px;}
.card-inner{
    margin-left: 1rem;
}
.card-inner-1{
    margin-left: 2rem;
}
.card-inner-2{
    margin-left: 3rem;
}
.card-inner-3{
    margin-left: 4rem;
}
.comment-profile{margin-right:0; padding-right:0;}
.comment-profile img{ width:40px; float:right;}
.comment-text {
    padding: 5px 8px;
    background-color: #efefef;
    float:left;
}
.comment-tool{margin:0 0 5px;}
.comment-text span{float:left; width:100%;}
.show-comment{display:none; width:100%; margin:0 0 15px;}
.show-view-comment{display:none; width:100%;}

.show-comment-1{display:none; width:100%; margin:0 0 15px;}
.show-view-comment-1{display:none; width:100%;}

.show-comment button{margin:10px 0;}

ul li{margin:0 0 5px}
.show-post-comment {display:none; cursor:pointer;}
.post-comment { cursor:pointer;}
.user-start-post h3{color:#929292; }
.user-start-post {  background-image: linear-gradient(#e1e1e1, #bdbdbd);}
.user-start-post:hover{ border-color:#337ab7;}
.post-details-file{float:left; margin-bottom:15px;}
.search-text{font-size:18px; margin:15px 0 0 0;}
.btn-disabled {
    cursor: auto;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.post-details-file a {
    padding: 0px 0 6px;
    float: left;
    width: 50%;
}
.post-details-file h4{font-size:16px;}
.company-logo-img {
    padding: 0px 0px 15px 15px;
    float: left;
    width:16%;
}
.company-logo-img img {
    width: 70px;
    padding: 0px 10px 0 0;
}
.company-name a{font-size:18px; float:left;}

.company-name {width:80%; float:left;}
.company-name span{width:100%; float:left;}
.company-logo-img .col-md-2 {padding:0px 0px 15px 0px;}


.files-attach {float:left; width:100%; margin-bottom:10px;}

/* user profile */


/*sanjeev 24-04-2019*/
#second_f{display: none;}
/*file uplaod*/
.file_text {
    width: 200px;
    padding: 5px;
    /*background: #eee;*/
    font: 12px Arial;
    position: relative;
    float: right;
    text-align: center;
}
.file_text h3{margin-top: 5px;
              font-size: 18px;
              color: #007dc5;
              font-weight: 600;}
.file_text p{color: #999;font-size: 12px;margin-top: 8px;line-height: 15px;}
.file_text button{    background: #007bc1;
                      border: 0px;
                      padding: 10px 15px;
                      color: #fff;
                      border-radius: 5px;}
.file_text input {
    width: 68px;
    height: 34px;
    position: absolute;
    top: 5px;
    left: 66px;
    opacity: 0
}
.contact_lft_d a{display: block;}

/*file upload*/

.span_pri{min-width: 120px;display: inline-block;}
.desc_pri{min-width: 550px;display: inline-block;text-align: center;}
.pr_pri{width: 244px;display: inline-block;}
.upload{margin: 15px 0;}

.navbar-form .form-control.select_value{width: 156px;}
.radio_nav label{color:#fff;font-size: 14px;}
.btn.my-sm-0{font-size: 13px;padding: 6px;}
.search-form{margin-left: 0px;padding-left: 0px;}
.radio_nav{margin-right: 5px;}
.form-control.form_wd{width: 145px;}
/*custom radio button*/
.radio_nav_btn[type="radio"]:checked,
.radio_nav_btn[type="radio"]:not(:checked) {
    position: absolute !important;
    left: -9999px;
}
.radio_nav_btn[type="radio"]:checked + label,
.radio_nav_btn[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
.desc{display: none}
.user-start-post form .form-row.userpr .radio{display: block;float: left;}
.userpr{display: inline-flex;}
.userpr label{padding:0 20px 0 5px;}
.userpr .radio_nav_btn[type="radio"]:checked + label,
.userpr .radio_nav_btn[type="radio"]:not(:checked) + label
{
    color: #000;
    font-weight: 700;
}
.userpr .radio label{padding-left: 0px;}

.radio_nav_btn[type="radio"]:checked + label:before,
.radio_nav_btn[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.radio_nav_btn[type="radio"]:checked + label:after,
.radio_nav_btn[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #f00;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio_nav_btn[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio_nav_btn[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.edit-profile-inner {margin:15px 0;}

#field {
    margin-bottom:20px;
}

#field input[type=file] {
    display: inline;
}
.remove-me {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #e4e4e4;
    border-radius: 4px;
}

/*custom ardio button*/
.rq_d{padding-bottom: 20px;}
.form-horizontal .input-group{padding-bottom: 20px;}

.side-filter li label{color:#333 !important;}
.side-filter a{margin:15px 0 0 0;}
.side-filter {margin:10px 0 0 0;}
.list-heading{background-color:#f5f5f5;}

ul.nav.navbar-nav.navbar-right li a{padding:10px 5px;}




/*sanjeev 24-04-2019*/

@media (min-width: 576px) {
    .navbar-icon-top .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;


    }

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }

    .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
        top: -7px;
    }
}


.company-profile img.company-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.company-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

.company-profile-text > h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    float: left;
    width: 100%;
    color:#007dc5;
}
.mt-15{margin-top:15px !important; float:left; width:100%;}
@media (max-width:991px) {
    .company-logo-img {
        width: 27%;
    }
    .company-name {
        width: 73%;
        float: left;
    }
}
@media (max-width:767px) {
    ul.nav.navbar-nav.navbar-right li a {
        padding: 10px 20px;
    }

    .comment-profile img{ width:50px; float:none;}
    .profile-details img {
        padding: 15px 0;
        width: 25%;
    }
    .profile-pic-xs {width:50px;}
    .panel-footer span, .panel-footer a{ margin:5px;}

    .input-group {

        margin-top: 10px;
    }

    .edit-profile {
        width:100%;
        float: left;
        text-align: left;
    }
    .edit-profile ul {

        float: left;
    }

    .file_text {

        float: left;
        text-align: left;
    }

    .navbar-form input{ width:70%; float:left;}
    .navbar-form button{ width:30%;}

    .navbar-collapse {
        float: left;
        margin: 15px 0 0 0;
        text-align: right;
        width:100%;
        padding:0;
    }

    .navbar-form{padding:0; margin-bottom:5px;}

    .main-menu:hover,nav.main-menu.expanded {
        width:100%;
        overflow:visible;
        box-shadow:inherit;
    }
    .main-menu:hover, nav.main-menu.expanded {

        box-shadow:none !important;
    }
    .main-menu li>a {width:100%;}
    .main-menu li {width:100%;}
    .main-menu  {width:100%;}

    .navbar-nav > li > a {
        color: #fff;
        text-align: left;
    }

    .week-report {
        background-color: #fff;
        float: left;
        width: 100%;
        padding: 10px 0px;
    }

    .help-seek {
        background-color: #E6E6E6;
        float: left;
        width: 100%;
        padding: 10px 0px;
    }


    .dropdown-menu>li>a{ color:#fff;}

    .company-profile-text > h2{
        font-weight: 700;
        font-size:16px;
    }

    .company-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}





/*--------------------------- rajnesh end --------------------------------*/

/*--------------------------- Admin Page --------------------------------*/
.titleAdmin{	
    font-size:18px;
    color:#005f95
}
.adminMenu {
    list-style: none;
    padding-left: 0;
}
@media only screen and (max-width: 1366px) {
    .edit-icon {
        float: left;
        width: 100%;
        text-align: right;
        padding:0 15px;
    }
}

@media only screen and (max-width: 991px) {

    .blueBg {
        min-height:250px;
        margin-bottom:15px;
    }

    .whitebg {
        min-height:250px;
        margin-bottom:15px;
    }

    .edit-icon {
        float: left;
        width: 100%;
        text-align: right;
        padding:0 15px;
    }
}

@media only screen and (max-width: 767px) {
    .list-group-item{height:80px;}
    .span_pri {
        min-width: 100%;
        display: inline-block;
        float: left;
    }
    .edit-icon {
        float: left;
        width: 36%;
        text-align: right;
    }
    .list-group-item>.badge {

        width: 56px;
    }

    .contact-details {
        padding: 16px 0px;
    }

    .navbar-brand{padding:0 0 10px; width:100px;}

    .right-nav {
        float: right;
        text-align: left;
        margin: 15px 0 5px;
    }

    .blueBg {
        min-height:200px;
        margin-bottom:15px;
    }

    .whitebg {
        min-height:200px;
        margin-bottom:15px;
    }
}

.btn-info {
    color: #fff;
    background-color: #3a571f;
}

.mt-top100{
    margin-top: 94px;
}

/* .noti-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 8px #222;
    overflow: visible;
    position: absolute;
    top: 47px;
    margin-left: -85px;
    width: 240px;
    color: #444;
    z-index: 2;
    display: none;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: transparent;
        border: 10px solid #000;
        border-color: transparent transparent #fff;
        margin-top: -20px;
        margin-left: 115px;
    }
    > .noti-title {
        display: none;
        width: 90%;
        padding: 5%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 2px solid #ddd;
        position: relative;
        z-index: 100;
        > .new-noti-title {
            font: 13px bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-align: center;
            line-height: 30px;
        }
        > .noti-count {
            &:extend(.noti-count-extend);
            width:20px;
            height:20px;
            border-radius:10px;
            font-size:10px;
            line-height:20px;
            margin-left: 5px;
            margin-top: 5px;
        }
    }
    > .noti-body {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 220px;
        overflow: auto;
        > .noti-text {
            display: block;
            cursor: pointer;
            font: 11px normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
            width: 90%;
            padding: 5%;
            line-height: 30px;
            background-color: #E9EFF2;
            border-bottom: 1px solid #ddd;
            &.has-read {
                background-color: #fff;
            }
        }
    }
    > .noti-footer {
        cursor: pointer;
        text-align: center;
        font: 13px bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
        padding:8px;
        border-top: 2px solid #ddd;
    }
} */

