<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
            <td align="center" bgcolor="#ffffff">
                <table class="table600" width="600" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                            <td height="50" style="font-size: 1px; line-height: 50px;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="full-width" width="287" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                    <tbody><tr>
                                            <td data-editable="image" align="center">
                                                <img class="img-full" src="" alt="img" width="287" height="155" id="tpl-image">
                                            </td>
                                        </tr>
                                    </tbody></table>
                                <!-- SPACE -->

                                <table class="full-width" width="1" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                    <tbody><tr>
                                            <td width="1" height="40" style="font-size: 40px; line-height: 40px;">
                                            </td>
                                        </tr>
                                    </tbody></table>
                                <!-- END SPACE -->

                                <table class="full-width" width="287" align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                    <tbody><tr>
                                            <td data-editable="text" style="font-family: 'Lato', sans-serif; font-size: 20px; font-weight: 900; color: #383838; letter-spacing: 1px; line-height: 24px;" contenteditable="true" class="medium-editor-element" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="229" medium-editor-index="5efdd528-be77-861d-eca0-871ba19de5b8" data-placeholder="Type your text" id="tpl-title">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="20" style="font-size: 1px; line-height: 20px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td data-editable="text" style="font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 400; color: #999999; line-height: 24px;" contenteditable="true" class="medium-editor-element" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="231" medium-editor-index="96665772-c0a9-e9de-d395-7aa8f64f598e" data-placeholder="Type your text" id="tpl-description">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>